@charset "UTF-8";

/*  共通部分
---------------*/
html {
  /* ルートのフォントサイズを10pxに設定 */
  font-size: 62.5%;
}
body {
  font-family: "ヒラギノ角ゴ Pro W3 Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
  background: #fff;
  font-weight: 600;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
p {
  font-weight: normal;
}
li {
  list-style: none;
}
.sns-box {
  display: flex;
  justify-content: center;
}
.btn {
  padding: 3px 8px;
  display: inline-block;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 30px;
}
.fa-twitter, .fa-thumbs-up {
  margin-right: 5px;
}
.btn-twitter {
  background: #4dbdec;
}
.btn-thums-up, .btn-share {
  background: #1794c9;
}
.underline {
  border-bottom: 8px #ebb94d solid;
}
.angle-bracket {
  width: 30px;
  height: 30px;
}
.left-angle-bracket {
  border-top: 4px #ebb94d solid;
  border-left: 4px #ebb94d solid;
  position: absolute;
  top: 0;
  left: 0;
}
.right-angle-bracket {
  border-bottom: 4px #ebb94d solid;
  border-right: 4px #ebb94d solid;
  position: absolute;
  bottom: 0;
  right: 0;
}
.left-angle-bracket-white {
  border-top: 4px white solid;
  border-left: 4px white solid;
  position: absolute;
  top: 0;
  left: 0;
}
.right-angle-bracket-white {
  border-bottom: 4px white solid;
  border-right: 4px white solid;
  position: absolute;
  bottom: 0;
  right: 0;
}
.description-box {
  background: white;
  border: 2px #ebb94d solid;
}
.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txts {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: .1rem;
}
.txtm {
  font-size: 1.5rem;
}
.txtl {
  font-size: 1.7rem;
}
.yellowtxt {
  color: #ffbe52;
  font-weight: bold;
}
.f-color-white {
  color: white;
}
.mbs{
  margin-bottom: 10px;
}
.mbm {
  margin-bottom: 20px;
}
.mbl {
  margin-bottom: 40px;
}
.input-form {
  background: white;
  border-radius: 5px;
  width: 100%;
  padding: 0 10px;
  font-size: 1.5rem;
  font-weight: 200;
}
.panel {
  padding: 5px 10px;
  border: 1px #ddd solid;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* header */
header {
  height: 6.4rem;
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  z-index: 9999;
}
.header-in {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header-left {
  height: 100%;
  padding: 10px;
}
.header-title {
  font-weight: bold;
}
.header-logo {
  margin-top: 2px;
  height: 30px;
}
.header-right-small-screen {
  height: 100%;
  width: 20%;
  background: #da6b64;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-right-small-screen img {
  width: 25px;
  height: 25px;
  align-self: center;
}
.header-right-small-screen a {
  display: inline-block;
  align-self: center;
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
}

/* footer */
footer {
  min-height: 20vh;
  background: #f2f2f2;
}
footer .container {
  padding: 20px 40px 5px 40px;
}
footer .container > p {
  text-align: center;
}
.footer-sns {
  margin-top: 20px;
}
.producer {
  text-align: center;
  margin-top: 40px;
}

/* large screen */
@media screen and (min-width: 768px) {

  header {
    height: 7.5rem;
  }
  .wrapper {
    width: 1170px;
    margin: 0 auto;
  }
  .header-left {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 0 10px 10px 0;
  }
  .header-title {
    font-size: 1.5rem;
    margin: 0 0 3px 10px;
  }
  .header-logo {
    height: 4.5rem;
  }
  .header-right-small-screen {
    display: none;
  }
  .header-right-large-screen {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .header-right-large-screen a {
    display: inline-block;
    border-radius: 50px;
    background: #da6b64;
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 10px 45px;
  }
}
