@charset "UTF-8";

/*  共通部分
---------------*/
html {
  /* ルートのフォントサイズを10pxに設定 */
  font-size: 62.5%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  background: #fff;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* header */
header {
  height: 64px;
  display: flex;
}
.header-left {
  height: 100%;
  padding: 10px;
  width: 80%;
}
.header-title {
  font-weight: bold;
}
.header-logo {
  margin-top: 2px;
  height: 30px;
}
.header-right {
  height: 100%;
  width: 20%;
  background: #da6b64;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-right img {
  width: 25px;
  height: 25px;
  align-self: center;
}
.header-right a {
  display: inline-block;
  align-self: center;
  color: white;
  font-size: 1.2rem;
}
