@charset "UTF-8";

/* top-bg */

.top-bg {
  background-image: url(../images/mainsp.jpg);
  background-position: center;
  background-size: cover;
  min-height: 40vh;
}
.top-bg p {
  font-weight: bold;
  font-size: 1.8rem;
}
.top-main-box {
  text-align: center;
  padding-top: 20px;
}
.top-main-box img {
  width: 80%;
  margin: 20px 0 40px 0;
}
.top-main-isara-title, .top-main-isara-site-name {
  font-size: 1.7rem;
}
.top-main-isara-site-name {
  margin-top: -5px;
}

/* isara-info-bg */
.isara-info-bg {
  background: #ffbe52;
  min-height: 50vh;
}
.isara-info {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 0 20px 0;
}
.isara-info-annotation {
  color: #ff6a6a;
  background: white;
  border-radius: 5px;
  margin: 15px 3px 0 3px;
}
.contact-form-jump {
  background: #ff6a6a;
  margin: 20px 20px 0 20px;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
}
.contact-form-jump a {
  color: white;
  font-size: 2.3rem;
}
.no5-students-info, .no6-students-info, .no7-students-info {
  margin: 20px 10px 0 10px;
}
.isara-info-button {
  margin-top: 20px;
}

/* introduction */
.introduction {
  min-height: 80vh;
  padding: 20px 20px;
  text-align: center;
  background-image: url(../images/introbottom.jpg);
  background-position: center;
  background-size: contain;
}
.introduction-title {
  margin-top: 20px;
  padding: 20px 0;
  position: relative;
}
.introduction-title h2 {
  line-height: 2;
  letter-spacing: .2rem;
}
.introduction .container {
  margin-top: 40px;
}
.introduction .container p {
  margin-bottom: 25px;
  font-size: 1.5rem;
}

/* about */
.about {
  min-height: 100vh;
  background: #f5e2bb;
}
.about-circle-box {
  position: relative;
  top: -40px;
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ffbe52;
}
.about-circle {
  color: white;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;

}
