@charset "UTF-8";

/* top-bg */

.top-bg {
  background: url(../images/mainsp.jpg) center/cover;
  min-height: 40vh;
  margin-top: 6.4rem;
}
.top-bg .txtl {
  font-weight: bold;
  font-size: 1.8rem;
}
.top-main-box {
  text-align: center;
  padding-top: 20px;
}
.top-main-box img {
  width: 80%;
  margin: 20px 0 40px 0;
}
.top-main-isara-title, .top-main-isara-site-name {
  font-size: 1.7rem;
}
.top-main-isara-site-name {
  margin-top: -5px;
}

/* isara-info-bg */
.isara-info-bg {
  background: #ffbe52;
  height: 490px;
}
.isara-info {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 0 20px 0;
}
.isara-info-annotation {
  color: #ff6a6a;
  border-radius: 5px;
  margin: 15px 3px 0 3px;
}
.isara-info-annotation > span {
  background: white;
  padding: 0 10px;
  border-radius: 5px;
  line-height: 2;
}
.contact-form-jump {
  background: #ff6a6a;
  margin: 20px 20px 0 20px;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
}
.contact-form-jump a{
  display: inline-block;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 2.3rem;
}
.no5-students-info, .no6-students-info, .no7-students-info {
  margin: 20px 10px 0 10px;
}
.isara-info-button {
  margin-top: 20px;
}

/* introduction */
.introduction {
  height: 630px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px 20px;
  text-align: center;
  background-image: url(../images/introbottom.jpg);
}
.introduction-title {
  margin-top: 20px;
  padding: 20px 0;
  position: relative;
}
.introduction .container {
  margin-top: 40px;
}
.introduction .container p {
  margin-bottom: 25px;
  font-size: 1.5rem;
}

/* about */
.about {
  height: 680px;
  background: #f9efdb;
  text-align: center;
  padding: 0 20px;
}
.about-circle-box {
  position: relative;
  top: -30px;
  display: flex;
  justify-content: center;
}
.about-circle {
  background: #ffbe52;
  color: white;
}
.about-title {
  padding: 20px 0;
  position: relative;
}
.about-title + p {
  font-size: 1.45rem;
  letter-spacing: .2rem;
  font-weight: bold;
  margin-top: 20px;
}
.about .wrapper .container {
  height: 44vh;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.about-description-title h3 {
  margin: 15px 0 20px 0;
  font-size: 1.45rem;
  letter-spacing: .2rem;
}
.about-description-outer-box {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  height: 100px;
}
.about-description-outer-box .box {
  width: 50%;
  margin-bottom: 20px;
}
.about-description-outer-box .box-end {
  width: 100%;
}
.about-description-img {
  height: 30px;
}
.about-description-txt {
  margin-top: 5px;
}

/* aboutsecond */
.aboutsecond {
  background-image: url(../images/aboutsecondbgsp.jpg);
  background-size: cover;
  padding: 40px 0 20px 0;
  text-align: center;
  height: 710px;
}
.aboutsecond > h2, .aboutsecond > p {
  color: white;
  letter-spacing: .2rem;
}
.aboutsecond-title {
  font-size: 1.8rem;
}
.aboutsecond .txt {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0 20px;
  letter-spacing: .01rem;
}
.aboutsecond .txt span {
  color: #ffbe52;
}
.aboutsecond .container {
  margin: 40px 30px;
}
.aboutsecond-description p {
  margin-top: 12px;
}
.aboutsecond-description-box {
  background: white;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px 50px 20px 50px;
}
.aboutsecond-step {
  background: #ffbe52;
  color: white;
  border-radius: 5px;
  padding: 3px 0;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: .2rem;
}

/* aboutthaad */
.aboutthaad {
  height: 110px;
  background: #016ea9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.aboutthaad > p {
  color: white;
  font-size: 1.4rem;
}
.aboutthaad span {
  color: #ffbe52;
}

/* isaralearning */
.isaralearning {
  height: 300px;
  text-align: center;
  padding: 40px 20px;
}
.isaralearning > .txtm {
  margin-top: 40px;
  letter-spacing: .1rem;
}
.isaralearning-description-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
}
.isaralearning-description-container img {
  height: 60px;
  margin: 0 5px 0 5px;
}

/* merit */
.merit {
  height: 1270px;
  background: #f9efdb;
  padding: 0 15px;
  overflow: hidden;
}
.merit-title {
  position: relative;
  padding: 20px 0;
  margin-top: 50px;
  text-align: center;
}
.merit .txts {
  font-size: 1.6rem;
}
.merit-title > h2 {
  margin-top: 20px;
  font-size: 1.8rem;
}
.merit-img {
  height: 120px;
  margin-top: 20px;
}
.learnfromfreelancer{
  background: url(../images/learnfromfreelancer.jpg) center/cover;
}
.learndetial p {
  margin-top: 10px;
}
.learndetial > .yellowtxt {
  text-align: center;
}
.learndetial .txts {
  padding: 0 20px;
  font-weight: normal;
  font-size: 1.2rem;
}
.learnfromprojects {
  background: url(../images/learnfromprojects.jpg) center/cover;
}
.actuallyfree {
  background: url(../images/actuallyfree.jpg) center/cover;
}
.merit .container {
  min-height: 1px;
  margin-top: 30px;
  padding: 20px 12px;
  text-align: center;
}
.merit .container .yellowtxt {
  font-size: 1.8rem;
}
.merit .container .txtl {
  margin-top: 15px;
}
.merit-description {
  font-size: 1.0rem;
  margin-top: 10px;
  font-weight: bold;
}
.meritbottom {
  text-align: center;
  margin-top: 20px;
  font-size: 1.1rem;
}

/* establishment-member */
.establishment-member {
  background: url(../images/teacherbgsp.jpg) center/cover;
  height: 1680px;
  color: white;
  text-align: center;
  overflow: hidden;
  padding: 0 20px;
}
.establishment-member > h2 > .fa-id-card {
  margin-right: 2px;
}
.establishment-member > h2 {
  margin-top: 70px;
  font-size: 2rem;
}
.establishment-member > .txts {
  margin-top: 45px;
}
.establishment-member .container {
  margin-top: 120px;
}
.teacherbox {
  height: 240px;
  border: 3px white solid;
  padding: 0 8px;
}
.teacher-no1, .teacher-no2, .teacher-no3 {
  margin-bottom: 130px;
}
.teacher-no4 {
  margin-bottom: 20px;
}
.teacherbox img {
  border-radius: 50%;
  height: 120px;
  position: relative;
  top: -80px;
}
.teacherbox p {
  position: relative;
  top: -70px;
}
.teacher-name {
  margin-top: 12px;
}
.teacherbox > .txts {
  font-weight: normal;
}
.teacher-description {
  text-align: left;
  margin-top: 10px;
}

/* qa */
.qa {
  height: 200px;
  background: #ffbe52;
  text-align: center;
  padding: 0 10px;
}
.qa-circle-box {
  margin: 20px 0 10px;
  text-align: center;
  display: inline-block;
}
.qa-circle {
  background: white;
  color: #ffbe52;
  display: inline-block;
  text-align: center;
}
.qa-title {
  position: relative;
}
.qa-title > h2 {
  color: white;
  padding: 20px 0;
}
.bottom-arrow {
  background: white;
  height: 0px;
  width: 0%;
  border-left: 2.5rem transparent solid;
  border-right: 2.5rem transparent solid;
  border-top: 2.5rem #ffbe52 solid;
  margin: 0 auto;
}

/* answer */
.answer {
  height: 770px;
  margin-top: 10px;
  text-align: center;
  padding: 0 10px;
}
.answer > .txtl {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.answer > .annotation {
  font-weight: normal;
  margin: 30px 0 30px 0;
}
.corp-message-box {
  height: 20vh;
  display: flex;
  margin-bottom: 40px;
}
.corp-img {
  border: 2px #ffbe52 solid;
  margin-top: 5px;
}
.corp-message-left {
  width: 30%;
  height: 100px;
}
.corp-message-right {
  width: 70%;
  padding-left: 10px;
  text-align: left;
}
.corp-message-right > .txts {
  font-weight: normal;
  font-size: 1.2rem;
  text-decoration: underline;
}

/* learnable-detail */
.learnable-detail {
  background: url(../images/classbgsp.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
  height: 1020px;
  padding: 50px 20px 30px;
}
.learnable-detail > .txts {
  margin: 20px 0 30px 0;
}
.learnable-detail > h2, .learnable-detail > .txts {
  color: white;
}
.learnable-detail .container {
  min-height: 1px;
  border: 2px solid #016ea9;
}
.learnable-detail .container .txtl {
  background: #016ea9;
}
.learnable-detail .container .txtl {
  color: white;
  font-weight: bold;
  padding: 15px 0;
}
.learnable-detail-li-item {
  background: white;
  color: black;
  border-bottom: 1px #e5e5e5 dotted;
  padding: 12px 0;
  font-size: 1.3rem;
}
.learnable-detail-right {
  margin-top: 20px;
}

/* learnable-detail-bottom */
.learnable-detail-bottom {
  background: #016ea9;
  height: 110px;
}
.learnable-detail-bottom .txtm {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  letter-spacing: .2rem;
}

/* attending-flow */
.attending-flow {
  height: 480px;
  background: white;
  text-align: center;
  padding: 0 10px;
}
.attending-flow > h2 {
  padding: 50px 0;
}
.attending-flow-box {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9efdb;
  padding: 7px 15px;
  margin-bottom: 5px;
}
.attending-flow-left {
  display: flex;
  align-items: center;
}
.attending-flow-left img {
  height: 4.5vh;
}
.attending-flow-left p {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

/* why-bangkok */
.why-bangkok {
  background: url(../images/bangkokbgsp.jpg);
  background-position: right;
  background-size: cover;
  height: 590px;
  color: white;
  overflow: hidden;
  padding: 0 90px;
}
.why-bangkok > h2 {
  margin-top: 50px;
  font-size: 2.5rem;
  letter-spacing: .3rem;
  text-align: center;
}
.why-bangkok-txts > .txtm {
  margin: 20px 0;
  font-size: 1.3rem;
}
.why-bangkok-txts > .txts {
  margin-bottom: 15px;
  font-size: 1.2rem;
}
.why-bangkok > .txtl {
  font-weight: bold;
}

/* entry-privilege */
.entry-privilege {
  height: 600px;
  overflow: hidden;
  background: #ffbe52;
  padding: 0 15px;
}
.entry-privilege .fa-gift {
  margin-right: 2px;
}
.entry-privilege > h2 {
  text-align: center;
  margin: 30px 0;
  font-size: 1.8rem;
  letter-spacing: .1rem;
}
.entry-privilege > .txts {
  text-align: center;
}
.further-privilege {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  background: #ffbe52;
  position: relative;
  top: 3vh;
  margin: 20px 40px 0 40px;
}
.further-privilege-box {
  display: flex;
  padding: 20px 40px 20px 40px;
}
.privilege-circle {
  background: white;
  color: #ffbe52;
  font-weight: bold;
  font-size: 1.25rem;
}
.further-privilege-item-right {
  margin: 10px 0 0 15px;
  color: white;
}
.entry-privilege .container {
  border: 2px white solid;
  padding: 20px 10px 20px 10px;
}

/* not-volunteer */
.not-volunteer {
  background: url(../images/specialdetailsp.jpg);
  background-position: center;
  background-size: cover;
  height: 480px;
  text-align: center;
  color: white;
  padding: 40px 10px 50px 10px;
}
.not-volunteer-title {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
.not-volunteer-container {
  position: relative;
  margin-top: 40px;
  padding: 20px 0;
  margin-bottom: 20px;
}
.not-volunteer-container > h2 {
  font-size: 1.8rem;
  letter-spacing: .4rem;
}

/* message */
.message {
  height: 940px;
  background: white;
  padding: 0 15px;
}
.message-title {
  margin: 40px 0;
  text-align: center;
}
.enjoy-nomad-life {
  font-weight: bold;
  text-align: center;
}
.message .container {
  display: flex;
  flex-direction: column;
}
.message-left img {
  margin: 20px 0 10px;
}

/* contactform */
.contactform {
  height: 640px;
  background: #ffbe52;
  text-align: center;
  overflow: hidden;
  padding: 0 15px;
}
.contactform-title {
  margin: 40px 0 30px;
}
.contactform .fa-file-alt {
  margin-right: 2px;
}
.form-question {
  height: 10rem;
}
.contactform input {
  height: 5rem;
}
.send-button {
  background: #da6b64;
  color: white;
  height: 5rem;
  width: 100%;
  font-size: 2.5rem;
  border-radius: 30px;
}

/* questions */
.questions {
  height: 850px;
  padding: 0 20px;
}
.questions-title {
  font-size: 2rem;
  text-align: center;
  margin: 50px 0 30px;
}
.questions .fa-envelope-open {
  margin-right: 3px;
}
.questionslist .fa-question-circle {
  color: #016ea9;
}
.questionslist .txtm {
  font-weight: bold;
}
.panel .fa-angle-down {
  color: #e5e5e5;
  font-size: 2.5rem;
}

/* large screen */
@media screen and (min-width: 768px) {

  /* top-bg */
  .top-bg {
    background: url(../images/main.jpg) center/cover;
    height: 500px;
    margin-top: 6.4rem;
  }
  .top-main-box .txtl {
    margin-top: 8rem;
    font-size: 3rem;
    line-height: 2;
  }
  .top-main-isara-title, .top-main-isara-site-name {
    font-size: 2rem;
  }
  .top-main-box img {
    height: 100px;
    width: 300px;
    margin-top: -5px;
  }

  /* isara-info-bg */
  .isara-info-bg {
    height: 560px;
  }
  .isara-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .isara-info p {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .2rem;
  }
  .isara-info-annotation {
    font-size: 2rem;
  }
  .contact-form-jump {
    margin: 50px 70px;
    height: 100px;
    padding: 0;
  }
  .contact-form-jump a {
    font-size: 3rem;
    line-height: 100px;
  }

  /* introduction */
  .introduction {
    background-size: cover;
    background-position: center;
    height: 570px;
  }
  .introduction .wrapper {
    width: 65%;
  }
  .txth2-large-screen {
    display: block;
  }
  .introduction .container p {
    font-size: 2.1rem;
  }

  /* about */
  .about {
    height: 630px;
  }
  .about-title {
    margin: 0 auto;
    width: 65%;
  }
  .about-title + p {
    font-size: 2rem;
  }
  .about-description-title h3 {
    margin-top: 25px;
    font-size: 2rem;
    letter-spacing: .15rem;
  }
  .about-description-outer-box {
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
  }
  .about-description-outer-box .box, .about-description-outer-box .box-end {
    width: 150px;
    margin-top: 20px;
  }
  .box img, .box-end img {
    height: 60px;
  }
  .about-description-txt {
    font-size: 1.3rem;
  }
  .about .wrapper .container {
    height: 270px;
  }

  /* aboutsecond */
  .aboutsecond {
    background-image: url(../images/aboutsecondbg.jpg);
    background-size: cover;
    height: 450px;
  }
  .aboutsecond-title {
    font-size: 2.8rem;
  }
  .aboutsecond .txt {
    font-size: 2rem;
  }
  .aboutsecond .container {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
  }
  .aboutsecond-step {
    font-size: 1.5rem;
  }
  .aboutsecond-description-box {
    padding: 20px 20px 30px 20px;
    margin: 0 10px 0 10px;
    height: 180px;
    width: 360px;
  }
  .aboutsecond-description {
    margin-top: 40px;
  }
  .aboutsecond-description .txts {
    font-size: 1.5rem;
  }

  /* aboutthaad */
  .aboutthaad {
    height: 130px;
  }
  .aboutthaad > p {
    font-size: 2.2rem;
    font-weight: bold;
  }

  /* isaralearning */
  .isaralearning {
    height: 480px;
  }
  .isaralearning-description-container img {
    height: 180px;
    margin: 0 20px 20px 20px;
  }

  /* merit */
  .merit {
    height: 1020px;
  }
  .merit-title {
    width: 65%;
    margin: 50px auto 40px auto;
  }
  .merit-title .txts {
    font-size: 2rem;
  }
  .merit-title > h2 {
    font-size: 3rem;
    margin-top: 2px;
  }
  .merit-img-wrapper {
    display: flex;
  }
  .merit-img {
    height: 200px;
  }
  .merit-img-box {
    width: 30%;
    margin: 0 auto;
  }
  .learndetial > .yellowtxt{
    text-align: left;
  }
  .learndetial .txts {
    padding: 0;
    font-size: 1.6rem;
  }
  .merit .container {
    padding: 40px 20px 40px 20px;
  }
  .merit .container .yellowtxt {
    font-size: 2.7rem;
  }
  .merit .container .txtl {
    font-size: 2rem;
  }
  .merit-description {
    font-size: 1.6rem;
  }
  .meritbottom {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    width: 80%;
    margin: 20px auto 0 auto;
  }

  /* establishment-member */
  .establishment-member {
    background: url(../images/teacherbg.jpg) center/cover;
    height: 1410px;
  }
  .establishment-member > h2 {
    font-size: 3rem;
  }
  .establishment-member .container {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
  }
  .teacherbox {
    height: 400px;
    padding: 0 40px;
    margin-top: 50px;
  }
  .teacher-description {
    letter-spacing: .18rem;
  }
  .teacherbox img {
    height: 200px;
    top: -130px;
  }
  .teacherbox p {
    top: -125px;
  }

  /* qa */
  .qa {
    height: 300px;
  }
  .qa .wrapper {
    width: 65%;
  }

  /* answer */
  .answer {
    height: 1000px;
  }
  .answer > .txtl {
    font-size: 3rem;
  }
  .answer > .annotation {
    font-size: 1.4rem;
  }
}
